<img class="wave" src="../../../../../assets/imgs/wave.png">
<div class="container">
    <div class="img">
        <img src="../../../../../assets/imgs/bg.svg">
    </div>
    <div class="login-content">
        <form action="index.html">
            <img src="../../../../../assets/imgs/avatar.svg">
            <h2 class="title">Welcome</h2>
               <div class="input-div one">
                  <div class="i">
                          <i class="fas fa-user"></i>
                  </div>
                  <div class="div">
                          <h5>Username</h5>
                          <input type="text" class="input">
                  </div>
               </div>
               <div class="input-div one">
                <div class="i">
                        <i class="fas fa-address-book"></i>
                </div>
                <div class="div">
                        <h5>E-mail</h5>
                        <input type="text" class="input">
                </div>
             </div>
             <div class="input-div one">
                <div class="i">
                        <i class="fas fa-phone"></i>
                </div>
                <div class="div">
                        <h5>Phone Number</h5>
                        <input type="text" class="input">
                </div>
             </div>
               <div class="input-div pass">
                  <div class="i"> 
                       <i class="fas fa-lock"></i>
                  </div>
                  <div class="div">
                       <h5>Password</h5>
                       <input type="password" class="input">
               </div>
            </div>
            
            <input type="submit" class="btn" value="Sign Up">
            <div class="txt1 text-center p-t-54 p-b-20">
                <span>
                    Or Sign Up Using
                </span>
            </div>

            <div class="my-4 flex-c-m">
                <a href="#" class="login100-social-item bg1">
                    <i class="fab fa-facebook-f"></i>

                </a>

                <a href="#" class="login100-social-item bg2">
                    <i class="fab fa-twitter"></i>
                </a>

                <a href="#" class="login100-social-item bg3">
                    <i class="fab fa-google"></i>
                </a>
            </div>
            <span class="my-4" style="font-size: x-large;">
                Or
                <a routerLink="../">
                    Login
                </a>
            </span>
        </form>
    </div>
</div>
