
//-------------------------------HOME HEADER------------------------------------------------------
.homeHeader{
    height: 600px;
    background-image: url(../../../../assets/imgs/home.svg);
    background-size: 100% 100%;
}
.homeData{
    height: 100%;
    width: 100%;
}
.homeHeader h1{
    font-size: 55px;
    font-weight: 1000;

}
.btn-home{
    box-shadow: 5px 10px 18px #888888;
    background-color: #68dbc9;
    border-radius: 12px;
    font-family: Big_Shoulders_Display;
    width: 200px;  
    font-size: 26px;
    transition: transform  1s; 
}
.btn-home2{
    box-shadow: 5px 10px 18px #888888;
    background-color: white;
    border-radius: 12px;
    font-family: Big_Shoulders_Display;
    width: 200px;  
    font-size: 26px;
    transition: transform  1s; 
}
.homeHeader button:hover{
    
    transform: scale(1.2 , 1.2);
}
//-------------------------------HOW WORK------------------------------------------------------
.howWorkIco{  
    box-shadow: 5px 10px 18px #888888;
    color:#68dbc9;
    transition: transform  1s;
    border-radius: 25px;
}

.howWorkSec:hover .howWorkIco{
    
    transform: scale(1.2 , 1.2);
    color: #F9A826;

}
//-------------------------------YOU SHOULD KNOW------------------------------------------------------
.YSK img{
    height: 70%;
    width: 70%;
}
.YSKsec{
    
    box-shadow: 5px 10px 18px #888888;
}
.YSKsec p{
    
    font-size: large;
}
.YSKsec span{
    
    color:#00BFA6;
}